@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
   
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #7CC2D1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh auto;
    background-color: #7CC2D1;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    width: 30vw;
    height: auto;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 5px;
    margin: 2m;
}

.form-email, .form-password  {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: #124734;
}

.form-email input,
.form-password input {
  color: black;
}



.alert-container {
    text-align: center;
    color: red;
}
.alert-container::target-text{
  padding: none;
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.459);
}


.password-input {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle i {
    font-size: 18px;
}

.btn-primary {
    background-color: #FFB600;
  border: none;
  color: black;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  display: block;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px 15px 15px 15px;
}

.register-link {
    color: #227EA6;
    text-decoration: none;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  

.password-toggle {

    border: none;
    background: white;
}
.form-control {
    border: none;
    border: 1px solid black;
    border-radius: 0;
    padding: 8px;
  }
  .form-title{
    width: 170px;
    height: 20px;
    margin: 0 auto;
    font-size: 55px;
    padding-bottom: 25%;
    color: #124734;
  }

  @media (max-width: 600px) {
    .form-container {
        height: 20vh;
    }
  }
  .underline{
    text-align: center;
    margin-top: 12px;
  }

  .form-control {
    text-decoration: black;
    background-color: white;
    border-radius: 9px 9px 9px 9px;
    margin-bottom: 4px;
}





.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}

.form-code:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}