<div class="main-container">
    <div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-+TlH+bJNDJnEN4e0O6V93K0RCEzWiR6/z9yH76ZsoaW0LHJDDqxG1omJHbhoyEw3B64gKxgD+PLaOyezTazFfw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <form [formGroup]="recoveryForm" class="form-container">
   
      <p class="form-title">ENVÍO DE CODIGO</p>

      <p class="form-sub">Ingresé su correo para enviarle un codigo de verificacion.</p>
   
      <div class="form-email">
        <label for="exampleInputEmail1" class="form-label">Correo*:</label>
        <input formControlName="email" class="form-control" type="email" aria-describedby="emailHelp" placeholder="ejemplo@ejemplo.com">
        
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger alert-container">
          <div *ngIf="email.errors?.['required']">
            Llene este campo.
          </div>
    
          <div *ngIf="email.errors?.['email']">
            Email invalido.
          </div>
  
          <div *ngIf="email.errors?.['pattern']">
            Dominio invalido.
          </div>
  
        </div>
      </div>

      <button type="submit" (click)="recovery()" class="btn-primary">Enviar</button> 
  
    </form>
  
    <div>
     
    </div>